@model IEnumerable<Furnish.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-controller="Home" asp-action="Index">Return</a>
    <a asp-action="Search">Search</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                    @($"${item.Price}")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                    @if (Context.Request.Cookies.TryGetValue("jwtToken", out string token))
                    {
                        <a asp-controller="Cart" asp-action="Cart" asp-route-id="@item.ProductId" asp-route-token="@ViewBag.Token">Add to Cart</a>
                    }
                    else
                    {
                        <a asp-controller="Login" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Add to Cart</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
